.team-section {
    background: var(--second-background-font);
    align-content: center;
}
.team_heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team_text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-top: 10px;
}

.team_list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
}

.team_item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);  
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}

.social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-list_icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list_link:hover &,
    .social-list_link:focus & {
    fill: #FFFFFF;
}
}


.social-list_item:not(:last-child) {
    margin-right: 10px;
}